<!-- Banner wrapper -->
<div class="banner_wrapper wd_100">
  <!-- Image -->
  <img src="/user_media/banner_1.jpg" class="img-responsive" alt="Macvaar - Mobile apps for unmanned aerial vehicles" />
  <!-- Banner text -->
  <div class="banner_text">
    <div class="text_big">
      <h2>
        Projects
      </h2>
    </div>
    <div class="text_small">
      Appstem is a leading iOS and Android app design & development company. We help enterprises, brands and start-ups create innovative mobile solutions.
    </div>
  </div>
  <!-- End Banner text -->
</div>
<!-- End banner wrapper -->
<!-- Projects listing wrapper -->
<div class="projects_listing_wrapper common_padding wd_100">
  <div class="container">
    <div class="indiv_project wd_100">
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
      </div>
      <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
        <div class="project_name">
          <h2>
          Project 1
          </h2>
        </div>
        <div class="project_description">
          Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
        </div>
      </div>
    </div>
    <div class="indiv_project wd_100">
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
      </div>
      <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
        <div class="project_name">
          <h2>
          Project 2
          </h2>
        </div>
        <div class="project_description">
          Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
        </div>
      </div>
    </div>
    <div class="indiv_project wd_100">
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
      </div>
      <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
        <div class="project_name">
          <h2>
          Project 3
          </h2>
        </div>
        <div class="project_description">
          Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Projects listing wrapper -->
