<!-- Banner wrapper -->
<div class="banner_wrapper wd_100">
  <!-- Image -->
  <img src="/user_media/banner_1.jpg" class="img-responsive" alt="Macvaar - Mobile apps for unmanned aerial vehicles" />
  <!-- Banner text -->
  <div class="banner_text">
    <div class="text_big">
      <h2>
        Innovative apps
      </h2>
    </div>
    <div class="text_small">
      Appstem is a leading iOS and Android app design & development company. We help enterprises, brands and start-ups create innovative mobile solutions.
    </div>
  </div>
  <!-- End Banner text -->
</div>
<!-- End banner wrapper -->
<!-- Featured products -->
<div class="featured_products_wrapper common_padding wd_100">
  <div class="container">
    <div class="text-center heading_wrapper">
      <h2>
        Featured Projects
      </h2>
    </div>
    <div id="featured_products" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="indiv_featured_project col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="indiv_featured_project_img">
              <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
            </div>
            <div class="indiv_featured_project_details">
              <div class="name text-center">
                Project 1
              </div>
              <div class="description">
                Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
              </div>
            </div>
          </div>
          <div class="indiv_featured_project col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="indiv_featured_project_img">
              <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
            </div>
            <div class="indiv_featured_project_details">
              <div class="name text-center">
                Project 2
              </div>
              <div class="description">
                Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
              </div>
            </div>
          </div>
          <div class="indiv_featured_project col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="indiv_featured_project_img">
              <img src="/styles/home/work_frequency.jpg" class="img-responsive" />
            </div>
            <div class="indiv_featured_project_details">
              <div class="name text-center">
                Project 3
              </div>
              <div class="description">
                Our drones have been mounted with our proprietary facial recognition software to capture and recognize users and objects in realtime from a 4K live streaming camera. The possibilities are endless!
              </div>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#featured-products" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#featured-products" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Featured products -->
