<div class="header_wrapper wd_100">
  <!-- Header -->
  <nav class="navbar navbar-default" role="navigation">
    <!-- Container -->
    <div class="container">
      <!-- Hamburger -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#macvaar-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <!-- Menu items -->
      <div class="collapse navbar-collapse" id="macvaar-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/what-we-do">What we do</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="#">Playstore link</a>
          </li>
        </ul>
      </div>
      <!-- End menu items -->
    </div>
    <!-- End container -->
  </nav>
  <!-- End header -->
</div>
