
/*-- home/css/style.partial.css (compiled) --*/
.home {
  padding: 10px;
}

/*-- /partials/header (concatenated) --*/
.top-section {
  font-size: 20px;
}

/*-- /partials/footer (concatenated) --*/
.bottom-section {
  font-size: 20px;
}
